/* COLORS */
/* DARK DARK BLUE: #031926 */
/* LIGHT GREEN: #77ACA2 */
/* VERY LIGHT GREEN: #9DBEBB */
/* CREAM/CHAMPAGNE: #F4E9CD */
/* 2:30 */

/* TABLE OF CONTENTS */
/*  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
    RESETS / DEFAULTS
*/ 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

section {
  background-color: var(--primary-light-bgc);
  transition: all 800ms;
}

button {
  cursor: pointer;
  border: none;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: var(--primary-white-clr);
  border: none;
  border-bottom: 1px solid #c8c4cc;
  height: 30px;
  outline: none;
  padding: 2px;
  transition: all 500ms;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: var(--highlight-clr);
}

/* 
    REUSABLE
*/
.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.highlight-text {
  color: var(--highlight-clr);
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  background-color: #242424;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white::after {
  background-color: var(--primary-white-clr);
}

.link__hover-effect--black::after {
  background-color: #242424;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 500ms 600ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
}

/* Dark Theme Changes */
.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para, 
.dark-theme .project {
  color: var(--primary-white-clr);
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme .project {
  border-radius: 10px;
  background: linear-gradient(145deg, #202020, #272727);
  box-shadow:  16px 16px 32px #1b1b1b,
              -16px -16px 32px #2d2d2d;
}

.dark-theme .highlight-text {
  color: var(--highlight-clr);
}

.dark-theme .scroll__icon {
  border-color: #c8c4cc;
}

.dark-theme .scroll__icon::after,
.dark-theme .link__hover-effect--black::after {
  background-color: #c8c4cc;
}

.dark-theme .mail__btn {
  background: linear-gradient(145deg, #272727, #202020);
  box-shadow:  5px 5px 25px #0e0e0e,
              -5px -5px 25px #3a3a3a;
}



/* 
    CUSTOM PROPERTIES
*/
:root {
  --primary-light-bgc: rgb(245, 245, 245);

  --primary-white-clr: #F8F5FA;
  --primary-dark-clr: #242424;
  --highlight-clr: #527770;
}

/* 
    LANDING PAGE
*/
#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: .75rem;
  text-align: left;
  line-height: 1.25;
}

.header__para {
  font-size: 2.25rem;
}

.social__list {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.social__link {
  background-color: var(--highlight-clr);
  color: var(--primary-white-clr);
  padding: 16px;
  height: 32px;
  width: 32px;
  font-size: 1.15rem;
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: var(--primary-white-clr);
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* 
    NAVIGATION
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 0 20;
}

.nav__img--container {
  width: 100px;
}

.nav__link--list {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.nav__link {
  margin-left: 0.75rem;
}

.nav__link--anchor {
  padding: 5px;
  color: #242424;
  font-weight: 700;
}

.fa-circle-half-stroke {
  font-size: 1.5rem;
  cursor: pointer;
}

/* 
    MODAL
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  max-width: 600px;
  border-radius: 20px;
  overflow: hidden;
  visibility: hidden;
  z-index: -1;
  transition: visibility 500ms, z-index 500ms, box-shadow 500ms 400ms;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__contact {
  background-color: #242424;
  color: white;
  width: 100%;
  padding: 20px;
  position: relative;
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.modal__title {
  font-size: 2rem;
  font-weight: 900;
}

.modal__form {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.form__item {
  margin-bottom: 20px;
}

.modal__form--label {
  font-size: 0.85rem;
}

#message {
  resize: vertical;
  width: 100%;
  height: 85px;
}

.form__submit {
  align-self: center;
  width: 100%;
  max-width: 140px;
  margin-top: 12px;
  padding: 12px;
  border: 2px solid var(--highlight-clr);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.125rem;
  background-color: var(--highlight-clr);
  color: var(--primary-white-clr);
  transition: all 300ms ease;
}

.form__submit:hover {
  border: 2px solid var(--primary-white-clr);
  background-color: transparent;
}

.form__submit:active {
  border: 2px solid var(--highlight-clr);
  color: var(--highlight-clr);
}

.modal__overlay--loading,
.modal__overlay--success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 4rem;
}

.modal__overlay--success {
  background-color: #135379;
  color: var(--primary-white-clr);
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: rotateSpinner 1000ms infinite;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: var(--primary-white-clr);
  font-size: 2.25rem;
  z-index: 5;
}

/* 
    PROJECTS
*/
.project-row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.project {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow:  10px 10px 22px #b0b0b0,
              -10px -10px 22px var(--primary-white-clr);
}

.project__title {
  color: var(--highlight-clr);
  font-size: 1.75rem;
  line-height: 2;
  font-weight: 700;
}

.project__img--wrapper:nth-child(odd) {
  width: 500px;
  margin-right: 24px;
}

.project__img--wrapper:nth-child(even) {
  width: 500px;
  margin-left: 24px;
}

.project__img {
  border-radius: 5px;
}

.project__links {
  margin-top: 12px;
}

.project__link {
  font-size: 0.85rem;
  background-color: var(--highlight-clr);
  color: var(--primary-white-clr);
  padding: 8px;
  border-radius: 5px;
  margin-right: 12px;
  transition: background-color 300ms ease;
}

.project__link:hover {
  background-color: #5d867f;
}

.project__link:active {
  background-color: #3e5a55;
}

/* PROJECT ANIMATIONS */
/* Project 1 */
.fadeInLeft {
  animation: fadeInLeft 1.2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Project 2 */
.fadeInRight {
  animation: fadeInRight 1.2s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Project 3 */
.fadeInUp {
  animation: fadeInUp 1.2s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 
    FOOTER
*/
footer {
  background-color: #242424;
  padding: 3% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--wrapper {
  width: 100px;
}

.footer__logo {
  filter: invert(1);
}

.footer__social--link,
.footer__copyright {
  color: var(--primary-white-clr);
  padding: 6px;
}

.footer__social--list {
  margin: 12px 0;
}

.footer__social--link:not(:last-child) {
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 8px;
  font-size: 0.8rem;
}
