/* COLORS */
/* DARK DARK BLUE: #031926 */
/* LIGHT GREEN: #77ACA2 */
/* VERY LIGHT GREEN: #9DBEBB */
/* CREAM/CHAMPAGNE: #F4E9CD */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* 
    RESETS / DEFAULTS
*/ 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

section {
  background-color: var(--primary-bgc);
}

button {
  cursor: pointer;
  border: none;
}

/* 
    REUSABLE
*/
.container {
  padding: 50px 0;
}

.row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.highlight-text {
  color: var(--highlight-clr);
}

/* 
    CUSTOM PROPERTIES
*/
:root {
  --primary-bgc: rgb(245, 245, 245);

  --highlight-clr: #527770;
}

/* 
    LANDING PAGE
*/
#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: .75rem;
  text-align: left;
  line-height: 1.25;
}

.header__para {
  font-size: 2.25rem;
}

.social__list {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.social__link {
  background-color: var(--highlight-clr);
  color: #fff;
  padding: 16px;
  height: 32px;
  width: 32px;
  font-size: 1.15rem;
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: #fff;
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* 
    NAVIGATION
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 0 20;
}

.nav__img--container {
  width: 100px;
}

.nav__link--list {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.nav__link {
  margin-left: 0.75rem;
}

.nav__link--anchor {
  padding: 5px;
  color: #242424;
  font-weight: 700;
}

.fa-circle-half-stroke {
  font-size: 1.5rem;
}

/* 
    PROJECTS
*/
.project-row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.project {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow:  10px 10px 22px #b0b0b0,
              -10px -10px 22px #ffffff;
}

.project__title {
  color: var(--highlight-clr);
  font-size: 1.75rem;
  line-height: 2;
}

.project__img--wrapper:nth-child(odd) {
  width: 500px;
  margin-right: 24px;
}

.project__img--wrapper:nth-child(even) {
  width: 500px;
  margin-left: 24px;
}

.project__img {
  border-radius: 5px;
}

.project__links {
  margin-top: 12px;
}

.project__link {
  font-size: 0.85rem;
  background-color: var(--highlight-clr);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-right: 12px;
}

/* PROJECT ANIMATIONS */
/* Project 1 */
.fadeInLeft {
  animation: fadeInLeft 1.2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Project 2 */
.fadeInRight {
  animation: fadeInRight 1.2s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Project 3 */
.fadeInUp {
  animation: fadeInUp 1.2s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
